*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
    font-family: sans-serif;
    font-weight: 800;
}

.pmain{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.container{

    .flex{
        display: flex;
        /* background-color: aqua; */
        justify-content: center;
        align-items: center;
        gap: 1%;
        padding: 20px;
        flex-wrap: wrap;
        
    }


     .box1{
        background-color: rgb(255, 255, 255);
        /* max-width: 250px; */
        border-radius: 12px;
        box-shadow: 0px 2px 2px 0px;
        margin-top: 20px;
    }

    .box1 .S0{
        background-color: rgb(227, 227, 227);
        padding: 15px;
        margin: 4px;
        border-radius: 12px;
    }

    .S1{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 14px;
        padding-top:10px;
    }
.S2 div{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
    font-size: 20px;
         padding-top:10px;
    } 

    .Ss2{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 9px;
         padding-top:10px;
    }

    i{
        padding-right:20px;
    }

   

    button{
        padding: 0.5em 0.2em;
        width: 211px;
        display: block;
        margin: auto;
        box-shadow: 0px 2px 2px  0px rgb(74, 73, 73);
         margin-top: 10px; 
         border-radius: 6px;
         border: none;
         color: aliceblue;
         background-color: black;
    }

    .S4{
        padding: 15px;
    }

    .S4 p{
        font-size: 11px;
         padding-bottom:10px;
    }

    .S4 span{
        font-size: 13px;
    }


    .box3{
        background-color: rgb(255, 255, 255);
        /* max-width: 250px; */
        border-radius: 12px;
        box-shadow: 0px 2px 2px 0px;
         margin-top: 20px;
    }


    .box3 .S0{
        background-image: linear-gradient(45deg,rgb(255, 255, 255), rgb(173, 176, 243));
        padding: 15px;
        margin: 4px;
        border-radius: 12px;
    }

   .box3  .S1{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 14px;
        padding-top:10px;
        
    }

   
.S2 div{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
       font-size: 20px;
         padding-top:10px;
     
    } 

    .box3 .Ss2{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 9px;
         padding-top:10px;
   
    }

   .box3 button{
        padding: 0.5em 0.2em;
        width: 211px;
        display: block;
        margin: auto;
        box-shadow: 0px 2px 2px  0px;
         margin-top: 10px; 
         border-radius: 6px;
         border: none;
        
    }

    .S2 .S4{
        padding: 15px;
    }

    .S4 p{
        font-size: 11px;
         padding-bottom:10px;
    }

    .S4 span{
        font-size: 13px;
       margin-bottom: 20px;
    }


      .box2{
        background-color: rgb(255, 255, 255);
        /* max-width: 250px; */
        border-radius: 12px;
        box-shadow: 0px 2px 2px 0px;
         margin-top: 20px;
    }


    .box2 .S0{
        background-image: linear-gradient(45deg,rgb(7, 7, 46), rgb(66, 4, 4));
        padding: 15px;
        margin: 4px;
        border-radius: 12px;
    }

   .box2  .S1{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 14px;
        padding-top:10px;
        color: aliceblue;
    }

    .box2 .S2{
        color: aliceblue;
    }
.S2 div{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 20px;
         padding-top:10px;
         /* color: aliceblue; */
    } 

    .box2 .Ss2{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-size: 9px;
         padding-top:10px;
         color: aliceblue;
    }

   .box2 button{
        padding: 0.5em 0.2em;
        width: 211px;
        display: block;
        margin: auto;
        box-shadow: 0px 2px 2px  0px;
         margin-top: 10px; 
         border-radius: 6px;
         border: none;
         color: #000;
        background-color: #fff;
    }

    .S2 .S4{
        padding: 15px;
    }

    .S4 p{
        font-size: 11px;
         padding-bottom:10px;
    }

    .S4 span{
        font-size: 13px;
       margin-bottom: 20px;
    }


    

}